@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900&display=swap')

html, body, form, h1, h2, h3, h4, h5, h6, ul, ol, legend
    margin: 0
    padding: 0

body
    width: 100%
    min-height: 100%
    display: block
    overflow-y: auto
    font-size: 16px
    overflow-x: hidden
    font-family: 'PingFang TC', 'Noto Sans TC', sans-serif

*
    box-sizing: border-box

img 
    line-height: 0
    border: 0

h3 
    font-size: 24px
    
h4
    font-size: 20px

a:link,
a:visited
    color: lightcoral
    text-decoration: none
