@keyframes slide-out
    0%
        background: rgba(32,32,32,0.30)
        transform: translateX(0vw)
        -webkit-backdrop-filter: blur(2px)
        backdrop-filter: blur(2px)
    50%
        background: transparent
        transform: translateX(0vw)
        -webkit-backdrop-filter: blur(0px)
        backdrop-filter: blur(0px)
    100%
        background: transparent
        transform: translateX(100vw)
        -webkit-backdrop-filter: blur(0px)
        backdrop-filter: blur(0px)

@keyframes slide-in
    0%
        background: transparent
        transform: translateX(100vw)
        -webkit-backdrop-filter: blur(0px)
        backdrop-filter: blur(0px)
    1%
        background: transparent
        transform: translateX(0vw)
        -webkit-backdrop-filter: blur(0px)
        backdrop-filter: blur(0px)
    100%
        background: rgba(32,32,32,0.30)
        transform: translateX(0vw)
        -webkit-backdrop-filter: blur(2px)
        backdrop-filter: blur(2px)

@keyframes floatBack 
    0%
        transform: translate(0%, 0%)
    20%
        transform: translate(-5%, -1%)
    40%
        transform: translate(2%, -1%)
    60%
        transform: translate(5%, 3%)
    80%
        transform: translate(8%, 5%)
    100%
        transform: translate(0%, 0%)

@keyframes floatFront 
    0%
        transform: translate(0%, 0%)
    20%
        transform: translate(5%, -1%)
    40%
        transform: translate(0%, 7%)
    60%
        transform: translate(-10%, 2%)
    90%
        transform: translate(-5%, 0%)
    100%
        transform: translate(0%, 0%)
    
.conceptB
    hr 
        border: 0
        border-top: 1px solid #EBEBEB
        margin-bottom: 30px
        margin-top: 0px

    header
        .nav-bar .nav-right
            a:last-child
                padding-right: 0
    .slick-dots
        position: absolute
        top: 362px
        width: 100%
        text-align: center
        margin: 0
        padding: 0

        li 
            display: inline-block
            vertical-align: top
            width: 12px
            height: 2px
            border-radius: 2px
            background: transparentize(#202020, .7)
            border-radius: 2px
            overflow: hidden
            margin: 0 2px
            transition: all .3s ease

            &.slick-active
                width: 24px
                background: #202020

    .slick-slider.demo-shop-carousel.is-main
        .demo-shop-carousel-item,
        .demo-shop-carousel-item > div
            height: 400px
            position: relative
            
            .caption
                position: absolute
                bottom: 36px
                width: 100%
                display: block
                left: 0
                right: 0
                padding: 0 40px
                margin: auto

                p 
                    margin-top: 0px
            .shop-descrption
                position: relative
                img.quote
                    position: absolute
                    &.begin
                        left: -25px
                        top: 0
                    &.end
                        bottom: 0
                        right: -25px
    .loading
        display: none

    .shortcuts-trigger
        position: fixed
        right: 0
        bottom: 16px
        z-index: 2

    .shortcuts
        position: fixed
        right: 0
        z-index: -10
        width: 0
        transform: translateX(100vw)
        
        &.is-open.is-closing
            background: rgba(32,32,32,0.30)
            transform: translateX(0vw)
            -webkit-backdrop-filter: blur(2px)
            backdrop-filter: blur(2px)
            animation: slide-out .5s .3s ease forwards
            .content
                transform: translateX(100vw)
        &.is-open
            width: 100%
            height: 100%
            top: 0
            left: 0
            background: transparent
            -webkit-backdrop-filter: blur(0px)
            backdrop-filter: blur(0px)
            z-index: 10
            animation: slide-in .5s ease forwards
            .content
                transform: translateX(0vw)

        .trigger,
        .content
            position: absolute
            right: 0
            bottom: 16px
        .content
            border-radius: 60px 0 0 60px
            display: inline-flex
            padding: 8px 0 8px 30px 
            background: #FFFFFF
            line-height: 0
            box-shadow: 0 0 4px 0 rgba(32,32,32,0.30)
            transform: translateX(100vw)
            transition: transform .3s .3s ease
            .item
                margin-right: 25px
            .close
                width: 36px
                line-height: 44px

            img 
                vertical-align: middle
                line-height: 0

    .page-tabs
        padding: 0 15px
        position: absolute
        top: 390px
        width: 100%
        z-index: 2
        transition: all .5s .5s ease

    .scroller.video-items
        white-space: nowrap
        height: 180px
        margin-top: -60px
        padding-left: 15px
        .video-item
            text-align: center
            display: inline-block
            margin-left: 22px
            margin-right: 22px
            .text
                margin-top: 12px
                font-size: 14px


    section
        padding: 50px 0 50px
        
        &.skill
            background: #FFF
            padding-bottom: 36px
            .cards
                margin-bottom: 30px
                .card .caption .subtitle
                    font-size: 14px
        &.news
            background: #FFF
            padding-bottom: 20px
        &.you-like
            padding-bottom: 0

        h3
            font-size: 18px
            margin-bottom: 20px
        .header
            position: relative
            z-index: 1

            ul.tab.slash-tab
                display: inline-flex
                width: auto
            .action
                position: relative
                text-align: right
                .menu
                    position: absolute
                    right: 0
                    z-index: 9
                    opacity: 0
                    transition: all .3s ease
                    &.is-open
                        opacity: 1
            
        .scroller
            overflow-x: auto 
            overflow-y: hidden
            margin: 0 -15px
            padding-left: 15px
            padding-right: 15px
            line-height: 0
            -webkit-overflow-scrolling: touch
            img 
                width: auto !important
                line-height: 0

        .react-marquee-box
            height: 180px
            margin-top: -60px
            .marquee-landscape-item
                .marquee-landscape-txt
                    flex-direction: column
                    margin: 0 15px
                    img 
                        opacity: 1
                        margin-bottom: 10px

        .cards
            .card
                height: 180px
                position: relative
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                margin-bottom: 10px
                .caption
                    color: #FFF
                    font-size: 24px
                    padding: 30px 15px
                    p 
                        font-size: 14px
                    .subtitle
                        font-size: 18px
                        margin-bottom: 8px
                &.extra
                    height: 494px
                &.square
                    height: 292px
                img 
                    position: absolute
                    right: 0
                    bottom: 0

    section.find-phone
        background-image: linear-gradient(180deg, #FAFAFA 0%, #F2F2F2 93%)
        padding-top: 50px
        padding-bottom: 40px
        .header
            margin-bottom: 15px
        
        .labels
            text-align: justify
            display: flex
            flex-wrap: wrap
            .label
                flex: 1
                border: 1px solid #202020
                padding: 8px 20px
                border-radius: 30px
                min-width: 90px
                margin-right: 10px
                text-align: center
                font-size: 14px
                margin-left: 0
                margin-bottom: 10px
            .more
                font-size: 14px
                text-align: right
                flex: 1
                padding: 9px 0
                *
                    vertical-align: middle

    section.banner
        padding: 0
        .image
            position: relative
            height: 330px
            overflow: hidden
            transition: all .5s ease
            img 
                position: absolute
                width: auto
                left: -100%
                right: -100%
                top: -100%
                bottom: -100%
                margin: auto
                transform: translate(0%, 0%)
                // &.back
                    // animation: floatBack 20s ease-in-out infinite
                &.front
                    animation: floatFront 30s ease-in-out infinite
        .caption
            padding: 60px 15px 72px
            background: #FFF
            transition: all .5s .3s ease
            h1 
                font-size: 30px
                margin-bottom: 0
                line-height: 1.5
            p 
                margin-top: 0
                font-size: 1rem
            .content
                margin-bottom: 40px
            .content.narrow
                margin-bottom: 20px
            .button
                max-width: 185px
            .more
                margin-top: 12px
                font-size: 14px
                display: block
                *
                    vertical-align: middle
    .tab-container
        margin: 0 -15px
        
        ul.tab.slash-tab
            padding-left: 15px
            margin-right: 15px
    ul.tab
        list-style: none
        display: flex
        width: 100%
        padding-bottom: 8px
        table-layout: fixed
        margin: 12px 0 20px
        background: none
        overflow-x: auto 
        overflow-y: hidden
        &.demo-shop li 
            &.active a 
                opacity: 1
            a 
                height: 55px
                line-height: 55px
                opacity: .5
                img 
                    vertical-align: middle
        
        &.auto-width
            width: auto
            li 
                flex: none

        &.slash-tab 
            li::after
                content: '/'
                position: absolute
                color: #808080
                right: 0
                top: 0

        li 
            position: relative
            flex: 1
            text-align: center
            padding: 0 20px 0 15px

            &.active > a 
                font-weight: bold
                color: #202020
                &::after
                    content: ''
                    position: absolute
                    display: block
                    margin-top: 2px
                    width: 100%
                    height: 3px
                    border-radius: 4px
                    background: #EF3123

            &:first-child
                text-align: left
                padding-left: 0
            &:last-child
                text-align: right
                padding-right: 0
                &::after
                    display: none
            a
                position: relative
                color: #808080
                font-size: 15px
                white-space: nowrap
                display: inline-block


header.conceptB
    height: 60px
    .nav-bar > div
        a
            padding: 18px 12px

    .sidebar
        .nav-menu
            display: flex 
            color: #FFF
            background: #ffffff
            > div.item
                flex: 1
                color: #202020
                text-align: center
                line-height: 50px

                &.active
                    color: #FFF
                    background: #DD220E

            > div.close
                text-align: center
                line-height: 50px
                width: 50px
                height: 50px
                background: #FFF
                > img 
                    vertical-align: middle
                

.conceptB
    opacity: 1
    display: block
    transition: all .5s ease
    &.is-loading,
    &.is-loading-show
        opacity: 0
        header 
            z-index: 1 !important
            .sidebar
                display: none !important
        .page-tabs
            opacity: 0
            transform: translateY(20px)

        section.banner
            .image
                opacity: 0
                transform: translateY(50px)
            .caption
                opacity: 0
                transform: translateY(50px)

