
header
    position: fixed
    display: block
    top: 0
    left: 0
    height: 50px
    width: 100%
    z-index: 39
    background: #FFF
    + main 
        padding-top: 60px
    .nav-bar
        display: flex
        justify-content: space-between
        justify-items: space-between
        align-content: center
        align-items: center
        > .nav-left,
        > .nav-right
            padding: 14px 20px
    .sidebar
        position: fixed
        width: 100vw
        height: 100vh
        display: block
        overflow-x: hidden
        overflow-y: auto
        top: 0
        left: -100vw
        background: #FFF
        transform: translateX(0vw)
        transition: all .3s ease
        -webkit-overflow-scrolling: touch

        .helper-link
            position: absolute
            display: block
            width: 100%
            height: 70px
            z-index: 99
            top: 514px
        .switch 
            display: inline-block
            input 
                opacity: 0
                position: absolute

                + .content 
                    .on
                        color: #484848
                    .off
                        color: #EF3123
                &:checked + .content
                    &::after
                        left: 24px
                    span
                        &.off
                            color: #484848
                        &.on
                            color: #0F3B81

            .content
                position: relative
                width: 48px
                height: 24px
                display: inline-block
                color: #EF3123
                span
                    position: absolute
                    top: 0
                    white-space: nowrap
                    transition: all .3s ease
                    &.on 
                        left: 54px
                    &.off
                        left: auto
                        right: 54px
                &::after
                    content: ''
                    position: absolute
                    display: block
                    background: #FFFFFF
                    box-shadow: 0 4px 12px 0 rgba(61,61,61,0.24)
                    border-radius: 15px
                    width: 24px
                    height: 24px
                    top: 0
                    left: 0
                    bottom: 0
                    margin: auto
                    z-index: 1
                    transition: all .3s ease
                &::before
                    content: ''
                    position: absolute
                    display: inline-block
                    width: 48px
                    height: 10px
                    top: 0
                    bottom: 0
                    margin: auto
                    border-radius: 10px
                    background: #484848
                    z-index: 0

        .menu
            &.is-blue .item
                &::before
                    background: #0F3B81
                &::after
                    border-left-color: #3966DA
            .item
                position: relative
                .menu-header
                    display: flex
                    box-shadow: 0 1px 0 0 #E8ECF0
                    align-content: center
                    align-items: center
                    .action
                        padding: 0 30px
                    .content
                        font-size: 18px
                        padding: 0 30px
                        flex: 1
                        height: 72px
                        line-height: 72px
                .menu-content
                    display: block
                    overflow: hidden
                    width: 100%
                    height: 0
                    background: #F9F9F9
                    .scroll
                        padding-left: 10px
                        overflow-x: auto
                &::before,
                &::after
                    transition: all .3s ease
                &::after
                    content: ""
                    top: 0
                    left: 0
                    position: absolute
                    border-left: 12px solid #EF3123
                    border-right: 12px solid transparent
                    border-top: 36px solid transparent
                    border-bottom: 36px solid transparent
                    transform: translateX(-12px)

                &::before
                    content: ""
                    position: absolute
                    width: 12px
                    height: 100%
                    background: #D3060F
                    left: 0
                    top: 0
                    transform: translateX(-12px)

                &.menu-open
                    &::after,
                    &::before 
                        transform: translateX(0px)
                    .menu-header .action img
                        transform: rotate(180deg)
                    .menu-content
                        height: auto
                        display: block

        &.is-open
            transform: translateX(100vw)
    
    .search-panel
        position: fixed
        width: 100%
        height: 100vh
        display: flex
        flex-direction: column
        top: 0
        left: 0
        background: #FFF
        transform: translateX(100vw)
        transition: all .3s ease
        &.is-open
            transform: translateX(0vw)
        .search-body
            flex: 1
            padding-top: 60px
            padding: 0 5px
            .search-icons
                margin-top: -20px
                display: flex 
                justify-items: space-between
                justify-content: space-between
                margin-bottom: 35px
        .search-footer
            padding: 20px 
        .search-header
            display: flex 
            align-items: flex-end
            align-content: flex-end
            justify-items: flex-end
            justify-content: flex-end
            > a 
                display: flex
                width: 50px
                height: 50px
                text-align: center
                align-items: center
                align-content: center
                justify-items: center
                justify-content: center

.conceptA
    header + main 
        padding-top: 50px
        
.conceptB
    header
        .sidebar
            line-height: 0
            img 
                line-height: 0
            left: 100vw
            transform: translateX(0vw)
            &.is-open
                transform: translateX(-100vw)

            .menu
                position: relative
                padding: 0 0 16px
                background-image: linear-gradient(180deg, #FAFAFA 0%, #F2F2F2 100%)
                &::after
                    content: ''
                    width: 345px
                    height: 1px
                    background: #D8D8D8
                    display: block
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
                    margin: auto
                .item
                    border: 0
                    &::before,
                    &::after
                        display: none
                    &.is-collapse
                        .minus
                            display: none
                        &.menu-open
                            .action
                                text-align: center
                            .menu-header::after
                                width: 345px
                            .plus
                                display: none
                            .minus
                                display: block
                    .menu-content
                        padding: 0 15px
                        * 
                            margin: 15px 0
                    .menu-header
                        position:  relative
                        box-shadow: none
                        &::after
                            content: ""
                            position: absolute
                            height: 1px
                            background: #DD220E
                            width: 0
                            bottom: 1px
                            left: 0
                            right: 0
                            margin: auto
                            transform-origin: 50%
                            transition: all .3s ease
                        .content
                            font-size: 18px
                            color: #202020
                        .action
                            padding: 0
                            width: 55px
                            text-align: center
                            img 
                                margin: auto