@keyframes fadeOut 
    0%   
        opacity: 1
    100% 
        opacity: 0

@keyframes marquee 
    0%   
        transform: translate(0, 0)
        animation-timing-function: ease-in
    100% 
        transform: translate(-100%, 0)
        animation-timing-function: ease-out

@keyframes loadingOutBorder
    0%
        border-right: 150vw solid #FFF
        border-left: 150vw solid transparent
        border-top: 100vh solid #FFF
        border-bottom: 100vh solid transparent
    100%
        border: 0
@keyframes loadingOut
    0%
        transform: translateX(0%)
        width: 100%
    98%
        transform: translateX(300vw)
        width: 0%
    99%
        transform: translateX(300vw)
        width: 0%
        height: 100%
        opacity: 1
    100%
        transform: translateX(0vw)
        opacity: 0
        width: 0
        height: 0
        display: none

body
    background: #FAFAFA

.text-center
    text-align: center
    
@import './header'

section.img-sec,
img 
    line-height: 0

.container
    width: 100%
    max-width: 1200px
    padding: 0 15px

.bg-img.bg-tail
    top: auto
.is-animate
    opacity: 0
    transform: translateY(80px)
    transition: all .5s ease
    &.scroller
        transform: translateX(50px) translateY(0px)

        &.is-in
            transform: translateX(0px)
    &.is-in
        opacity: 1
        transform: translateY(0px)

@keyframes slideIn 
    0%
        top: 0
    100%
        top: 48px

.service-button
    position: fixed 
    width: 60px
    height: 60px
    right: 18px
    bottom: 20px
    border-radius: 30px
    background: #FFFFFF
    box-shadow: 0 12px 24px 0 rgba(32,32,32,0.30)
    z-index: 19

main 
    overflow: hidden
    // line-height: 0
    img 
        line-height: 0

footer
    position: relative
    z-index: 3
    line-height: 0
    img
        line-height: 0

section 
    .header
        display: flex
        justify-items: space-between
        justify-content: space-between
        align-items: center
        align-content: center
        margin-bottom: 20px
        .title
            flex: 1
            h3 
                margin-bottom: 0
        .action
            text-align: right
.conceptA section
    &.news
        line-height: 0
        img 
            line-height: 0
    .container
        position: relative
        z-index: 2
        .scroller
            margin-left: -15px
            margin-right: -15px
            padding-left: 0
    h3
        margin-bottom: 24px
.conceptA ul.tab
    display: flex
    list-style: none
    padding-bottom: 4px
    padding-right: 15px
    
    &.page-tab
        padding-right: 0
        background: #fafafa
        padding-bottom: 0

        li > a
            min-width: 0
            border-bottom-color: transparent

    li 
        flex: 1

        &.active > a
            background: #FFF
            border-bottom: 4px solid #EF3123
            color: #EF3123 !important
        a 
            display: block
            color: #202020
            background: transparent
            cursor: pointer
            min-width: 82px
            font-weight: bold
            text-align: center
            padding: 12px 0 10px
            border-bottom: 4px solid transparent
            transition: all .3s ease
            border-bottom: 4px solid #D6D6D6
            .image,
            .image img
                line-height: 0
.conceptA section 
    position: relative
    
    .tab-container
        white-space: nowrap
        overflow-x: auto
        padding: 0 15px
        margin: 0 0 12px
    
    .scroller
        overflow-x: auto 
        overflow-y: hidden
        margin: 0 -15px
        padding-left: 15px
        padding-right: 15px
        line-height: 0
        -webkit-overflow-scrolling: touch
        img 
            width: auto !important
            line-height: 0
.conceptA 
    .tab-buttons
        text-align: center
        margin-top: 32px
        .tab-item
            display: inline-block
            width: 62px
            text-align: center
            margin: 0 6px
            font-size: 12px
            height: 30px
            line-height: 28px
            color: #202020
            border: 2px solid transparentize(#BFBFBF, .7)
            &.is-active
                color: #D3060F
                border: 2px solid #D3060F
    body
        .ebu-tab-content .page
            display: none
            &.current
                display: block
        .react-swipeable-view-container .page,
            overflow: hidden
            height: 100vh
            &.current
                height: auto

        .section-topbar
            position: absolute
            top: 48px
            width: 100%
            z-index: 1
            + *
                margin-top: 47px
            &.no-button::before
                display: none
            &::before
                content: "免費諮詢"
                text-align: center
                position: absolute
                right: 14px
                width: 73px
                height: 20px
                top: 10px
                font-size: 12px
                height: 26px
                line-height: 24px
                box-sizing: border-box
                border: 2px solid #202020
                color: #202020
                background: none

            &.is-show
                position: fixed 
                top: 0px
                z-index: 19
                animation: slideIn .3s .2s ease forwards

                &::before
                    content: "免費諮詢"
                    text-align: center
                    position: absolute
                    right: 14px
                    width: 73px
                    height: 20px
                    top: 10px
                    font-size: 12px
                    height: 26px
                    line-height: 24px
                    color: #FFF
                    background: #ef3123
                    border-color: #ef3123

    .rest-tab-content
        display: none
        padding-top: 60px
        &.is-active
            display: block
    .rest-tab
        display: flex
        .tab-item
            position: relative
            flex: 1
            &::before
                display: none
            &.is-active
                background: #FFF
            &.is-active::before
                content: ''
                position: absolute
                width: 100%
                height: 4px 
                display: block
                box-sizing: border-box
                border: 2px solid #D3060F
                background: #D3060F
                bottom: 0
                left: 0

    .bg-img
        position: absolute
        width: 100%
        left: 0
        top: 0
        &.trangle
            top: auto
            bottom: 0
        img 
            width: 100%

    section.demo-shop
        padding-top: 56px
        .header
            margin-bottom: 0

    section.news
        .bg-img.trangle
            z-index: 0
        .bg-img 
            z-index: 1

    section.ebu-news
        padding-top: 70px
        padding-bottom: 60px
        .bg-img.trangle
            z-index: 0

    section.ebu-you-life
        margin-bottom: 12px
        .bg-img img
            width: auto
            margin-top: -125px
            margin-left: 178px
        .header
            margin-bottom: 32px

    section.you-life
        padding-bottom: 60px
        .bg-img.is-bottom
            top: auto
            bottom: 65px
        button 
            position: absolute
            width: 190px
            height: 40px
            display: block
            top: 204px
            left: 84px
            border: 0
            background: none

    section.you-may-like
        position: relative
        padding: 60px 0

    section.promotion
        position: relative
        background: url(/resources/images/promotion-bg.png)
        background-size: 100% auto
        color: #FFF
        width: 100%
        padding: 0
        height: 96px
        opacity: 1
        overflow: hidden
        transform: translateY(0)
        transition: all .8s cubic-bezier(.61,-0.31,.36,1.3)
        img 
            width: 100%
        .fetnet-subtitle
            margin-top: -5px
            margin-bottom: 8px
            .text
                position: relative
                font-size: 14px
                border-bottom: 2px solid #FFF
                padding-right: 17px
                display: inline-block
                background-repeat: no-repeat 
                background-position: right bottom
                .arrow
                    position: absolute
                    right: 0
                    bottom: -2px
        .container
            height: 360px
            padding-top: 20px

        .image
            position: absolute
            left: 0
            right: 0
            margin: auto
            text-align: center
            bottom: 0
            line-height: 0
            img
                line-height: 0
        h4 
            font-size: 20px
            margin-bottom: 20px

        .btn.outlined
            border: 2px solid #ffffff
            background: none
            color: white
            font-size: 1rem
            padding: 8px 28px

        &.expand
            height: 360px

    section.bubble
        position: relative
        padding: 65px 0 65px
        img 
            line-height: 0
            width: 100%

        .bg-trangle
            position: absolute
            right: 0
            bottom: 0
            z-index: 0
            img 
                height: 349px
        .bg-color-tail
            position: absolute
            top: 0px
            left: 0
            z-index: 0
            width: 100%
            overflow-x: hidden

        > .container
            position: relative
            z-index: 2
            .scroller
                padding-left: 15px

    section.ebu-you-may-like
        padding: 60px 0
        .bg-img
            overflow: hidden
            img
                width: auto
                margin-left: -600px
                margin-top: -110px

    .react-swipeable-view-container > div
        overflow-x: hidden !important

    section.banner
        position: relative
        height: 520px
        
        .anima-arrow
            position: absolute
            z-index: 1
            opacity: 1
            img 
                width: auto
            &.left
                width: 448px
                height: 133px
                top: 172px
                left: 227px
                transition: all .5s 1.5s ease
                transform: translateX(0)
            &.right
                top: 27px
                width: 283px
                height: 84px
                left: -211px
                transition: all .5s 1.2s ease
                transform: translateX(0)

        &.ebu .caption .content
            padding-bottom: 40px

        .bg
            position: absolute
            height: 514px
            overflow: hidden
            z-index: 0
            img 
                position: relative
                transform: scale(1)
                max-width: 100%
                transition: transform 3s ease
                z-index: 0
        
            &::before
                content: ""
                position: absolute
                display: block
                z-index: 0
                width: 0
                height: 0
                bottom: -86px
                z-index: 1
                transform: translate(0%, 0%)
                transition: transform .5s .8s ease
                border-bottom: 270px solid #FFF
                border-left: 100vw solid #FFF
                border-right: 100vw solid transparent
                border-top: 270px solid transparent

        .caption
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 462px
            z-index: 3
            
            .content
                position: absolute
                opacity: 1
                z-index: 2
                width: 100%
                bottom: 0
                transform: scale(1)
                padding: 0 15px 82px
                transition: all .5s 1.8s ease
                
                .shortcut-menu
                    display: block
                    .item + .item
                        margin-top: 8px
                    a
                        font-weight: bold
                        cursor: pointer
                        display: inline-block
                        font-size: 32px
                        padding-top: 4px
                        padding-bottom: 2px
                        line-height: 1
                        border-bottom: 4px solid black
                h1
                    font-size: 32px
                    width: 230px
                .selector
                    position: relative
                    width: 100%
                    max-width: 286px
                    z-index: 3
                    .text
                        display: block
                        width: 100%
                        font-size: 2rem
                        font-weight: bold
                        padding: 6px 0
                        background: none
                        text-align: left 
                        border: 0
                        border-bottom: 4px solid #EF3123
                        img 
                            margin-left: 7px
                    &.is-open .menu
                        left: -15px
                        opacity: 1
                        pointer-events: auto !important
                    .menu
                        position: absolute
                        opacity: 0
                        width: 100vw
                        height: 200px
                        top: -100%
                        left: 100vw
                        bottom: -100%
                        margin: auto
                        transition: opacity .3s .2s ease
                        a.item:link,
                        a.item:visited
                            display: block
                            padding: 12px 36px
                            font-size: 1rem
                            color: #202020
                            &:hover,
                            &:focus
                                background: #EDEDED

                div.action
                    margin: 20px 0

html.sidebar-open,
html.fade-out
    height: 100vh !important
    overflow: hidden !important
html.fade-out
    animation: fadeOut .5s ease forwards

.is-loading,
.is-loading-show
    height: 100vh !important
    overflow: hidden !important

@keyframes zoomIn 
    0%
        opacity: 0
        transform: scale(1.2)
        transform-origin: 50% 50vh
    100%
        opacity: 1
        transform: scale(1)
        transform-origin: 50% 50vh
        transform-origin: 50% 50vh
    100%
        opacity: 1
        transform: none
        transform-origin: none

.conceptA body
    animation: zoomIn 1.5s 1s ease normal forwards running

body.is-loading,
body.is-loading-show
    opacity: 0 !important
    transform: scale(1.2) !important

.conceptA
    display: block
    body.is-loading,
    body.is-loading-show,
        header 
            z-index: 1 !important
            .sidebar
                display: none !important

        section.loading
            transform: translateX(0%)
            animation: none
            &::before
                animation: none

        section.promotion
            opacity: 0
            transform: translateY(50px)
            
        .react-swipeable-view-container,
        .react-swipeable-view-container .page,
        .react-swipeable-view-container .page > div
            overflow: hidden
        section.banner 
            overflow: hidden
            .anima-arrow
                opacity: 0
                &.left
                    transform: translateX(150px)
                &.right
                    transform: translateX(-72px)
                    
                .bg 
                    img 
                        transform: scale(1.2)
                    &::before
                        transform: translate(-100%, 100%)
            .caption .content
                transform: scale(1.1)
                opacity: 0

    section.loading
        position: absolute
        width: 100%
        height: 100%
        display: block
        transform: translateX(150%)
        left: 0
        top: 0
        background: #FFF
        animation: loadingOut 1.5s ease normal forwards running
        z-index: 30
        overflow: visible
        
        &::before
            content: ""
            position: fixed
            width: 0
            height: 0
            display: block
            top: 0
            left: -300%
            right: 0
            margin: auto
            border: 0
            border-right: 300vw solid #FFF
            border-left: 300vw solid transparent
            border-top: 100vh solid #FFF
            border-bottom: 100vh solid transparent
            animation: loadingOutBorder .2s 1.5s ease 1 normal forwards running
            


@import './conceptA'