.button
  &.bg-red
    background: #D3060F
    border: 0
    color: #FFF
    font-size: 1rem
    padding: 8px 24px

  &.outlined
    padding: 8px 24px
    background: none
    font-size: 1rem
    border: 2px solid #BFBFBF

  &.rounded 
    border: 0
    color: #FFF
    background: #D3060F
    border-radius: 28px
    padding: 12px 20px
    width: 100%
    min-width: 245px
.action
  .button
    min-width: 170px
    display: block
    + .button
      margin-top: 12px