
$space: 8px
$black: #484848
$border-black: #484848
$main: blue
$secondary: blue

.carousen-container
    line-height: 0

.demo-shop-carousel    
    .slick-list,
    .slick-list > .slick-track,
    .slick-slide > div
        height: 100%

    .slick-arrow
        position: absolute
        width: 50%
        height: 100%
        top: 0
        opacity: 0
        display: block
        z-index: 2
        &.slick-prev
            left: -50%
        &.slick-next
            right: -50%

    &.is-prev,
    &.is-next
        height: 100%
        .demo-shop-carousel-item
            display: flex !important
            flex-direction: column
            justify-content: center
            justify-items: center

    .demo-shop-carousel-item
        background: #FFF
        height: 100%
        
        .shop-name
            margin: $space*3 0

    &.is-main
        z-index: 9
        .demo-shop-carousel-item 
            display: relative !important
            > div
                color: white
                height: 357px
                padding: 36px $space*5 0
                background-size: cover

                img.quote
                    float: left
                    + p 
                        display: block
                        margin-top: 30px

    .slick-dots
        position: absolute
        display: block
        text-align: center
        list-style: none
        width: 100%
        bottom: 18px
        margin: 0
        padding: 0

        li 
            display: inline-block
            width: 40px
            height: 3px
            background: #202020
            margin: 0 3px

            &.slick-active
                background: white

            button 
                opacity: 0
    
.banner.ebu 
    position: relative
    background-image: url(/resources/images/ebu-banner/banner@2x.png)
    background-position: left center
    background-size: cover
    z-index: 3

    .exchange-image 
        position: absolute
        right: 0
        bottom: 0
        line-height: 0
        .squares
            position: absolute
            display: block
            width: 100%
            height: 100%
            right: 0
            bottom: 0
            > .square
                position: absolute
                display: block
                width: 295px
                height: 295px
                right: 0
                bottom: 295px
                overflow: hidden
                transition: opacity 1s ease
                &:last-child
                    bottom: 0
                    right: 295px
                &.small
                    width: 147px
                    height: 147px
                    bottom: 295px
                    right: 295px
        
    .MuiPaper-rounded
        border-radius: 0

    .MuiAppBar-root.MuiAppBar-colorPrimary
        background: #FFF 
        color: $black
        box-shadow: none
        opacity: 1

        .MuiTab-textColorInherit
            opacity: 1
            min-width: 0
            padding: $space*2.5 $space*2 
            &.Mui-selected
                color: $secondary

        .MuiTab-labelIcon .MuiTab-wrapper 
            font-size: 1rem
            > *:first-child
                font-size: 2rem
    
    [role="tabpanel"]
        min-height: 325px

    .action
        margin-top: $space*3
        .MuiButton-root
            width: 40%
            max-width: 240px
            margin-right: $space*1.5
            border-radius: 0

            &.MuiButton-contained
                background: $main
                border: 2px solid $main
                color: #FFF
            
            &.MuiButton-outlined
                border: 2px solid $border-black

            &.MuiButton-outlinedSizeLarge,
            &.MuiButton-containedSizeLarge
                padding: $space*1.5 $space*2 !important

.yo-life
    position: relative
    z-index: 0
    width: 337px
    margin: -10px auto 0
    overflow: visible
    .slick-list
        overflow: visible
        .slick-slide
            padding: 0 6px